<div>BIENVENIDOS</div>
<section style="display: flex; flex-direction: column; justify-content: center; padding:300px">
  <form action="login" method="post" style="display: flex; flex-direction: column; justify-content: center;">
    <label for="name">Nombre</label>
    <input type="text" name="name" placeholder="Ingrese su nombre" id="name" required>
    <label for="password">Contraseña</label>
    <input type="password" name="password" placeholder="Ingrese su contraseña" id="password" required>
    <button type="submit">Ingresar</button>
  </form>
  <a href="/addUser">No tenes cuenta? Registrate</a>
</section>