<section style="display: flex; flex-direction: column; justify-content: center; padding:300px">
  <form action="signUp" method="post" style="display: flex; flex-direction: column; justify-content: center;">
    <label for="name">Nombre</label>
    <input type="text" name="name" placeholder="Ingrese su nombre" id="name" required>
    <label for="lastName">Apellido</label>
    <input type="text" name="lastName" placeholder="Ingrese su apellido" id="lastName" required>
    <label for="password">Contraseña</label>
    <input type="password" name="password" placeholder="Ingrese su contraseña" id="password" required>
    <button type="submit">Agregar usuario</button>
  </form>
</section>