<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuario</title>
</head>
<body>
  <h1>Bienvenido, <%= user.name %></h1>
  <h3>Datos de tu usuario:</h3>
  <p>Nombre: <%= user.name %></p>
  <p>Apellido: <%= user.lastName %></p>
  <a href="/delete/<%= user.id %>">Borrar Usuario</a>
  <a href="/users">Volver</a>
</body>
</html>

